In [58]:
# importing Python libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns
from scipy import stats
from scipy.stats import norm, skew
from sklearn import preprocessing

In [72]:
data=pd.read_csv(r'C:\Users\sahithi\Desktop\Mith_Insofe\dataset.csv')

C:\Users\sahithi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [73]:
#Data exploration
data.shape

(50341, 36)

In [74]:
data.columns

Index(['RowID', 'Joblevel', 'DistancetoHome', 'istrain', 'FrequencyofTravel',
       'Gender', 'OfficeAmbienceRating', 'MonthlyRate',
       'YearsSinceLastPromotion', 'SelfMotivationRating', 'Division', 'Over18',
       'Hourlyrate', 'JobRole', 'RelationshipSatisfaction', 'Education',
       'No.ofWorkshopsAttended', 'EmployeeCount', 'datacollected', 'Age',
       'YearsInCurrentRole', 'NumberofCompaniesChanged', 'WorkLifeBalance',
       'Emolumnet_in_Pecentage', 'DialyRate', 'StandardHours', 'ExtraTime',
       'FirstJobDate', 'EmployeeID', 'Happynesslevelinjob',
       'DateOfjoiningintheCurrentCompany', 'ESOps', 'MonthlyIncome',
       'Specialization', 'PerformanceRating', 'MaritalStatus'],
      dtype='object')

In [75]:
data.dtypes

RowID                                int64
Joblevel                             int64
DistancetoHome                       int64
istrain                              int64
FrequencyofTravel                   object
Gender                              object
OfficeAmbienceRating                 int64
MonthlyRate                          int64
YearsSinceLastPromotion              int64
SelfMotivationRating                 int64
Division                            object
Over18                              object
Hourlyrate                           int64
JobRole                             object
RelationshipSatisfaction             int64
Education                            int64
No.ofWorkshopsAttended               int64
EmployeeCount                        int64
datacollected                       object
Age                                  int64
YearsInCurrentRole                   int64
NumberofCompaniesChanged             int64
WorkLifeBalance                      int64
Emolumnet_in_Pecentage               int64
DialyRate                            int64
StandardHours                        int64
ExtraTime                           object
FirstJobDate                        object
EmployeeID                           int64
Happynesslevelinjob                  int64
DateOfjoiningintheCurrentCompany    object
ESOps                                int64
MonthlyIncome                        int64
Specialization                      object
PerformanceRating                    int64
MaritalStatus                       object
dtype: object

In [76]:
data['ExtraTime'].replace('Yes','1',inplace=True)
data['ExtraTime'].replace('No','0',inplace=True)

In [77]:
#Target distribution 
df_train = data[data['istrain']==1]
target=df_train['ExtraTime']
target.value_counts()

0    21852
1    18451
Name: ExtraTime, dtype: int64

##There is no class imbalance

In [78]:
#Data Preparation
#dropping columns which have unique levels, and less variance and high cardinality
data.drop(['RowID','EmployeeID','EmployeeCount','Over18','datacollected','StandardHours','Joblevel','FirstJobDate','DateOfjoiningintheCurrentCompany','ExtraTime'],axis=1,inplace=True)
data.shape

(50341, 26)

In [93]:
#Numeric and categorical
#basic cleaning 
df=data.dtypes
cat_cols=list(df[df=='object'].index)
num_cols=list(df[df.index.difference(cat_cols)].index)
print("categorical columns",cat_cols)
print("numerical columns",num_cols)

categorical columns ['FrequencyofTravel', 'Gender', 'Division', 'JobRole', 'Specialization', 'MaritalStatus']
numerical columns ['Age', 'DialyRate', 'DistancetoHome', 'ESOps', 'Education', 'Emolumnet_in_Pecentage', 'Happynesslevelinjob', 'Hourlyrate', 'MonthlyIncome', 'MonthlyRate', 'No.ofWorkshopsAttended', 'NumberofCompaniesChanged', 'OfficeAmbienceRating', 'PerformanceRating', 'RelationshipSatisfaction', 'SelfMotivationRating', 'WorkLifeBalance', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'istrain']

In [88]:
d=data[num_cols]
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
df_scaled=pd.DataFrame(scaler.fit_transform(d),columns=num_cols)
df_scaled.head()

,Age,DialyRate,DistancetoHome,ESOps,Education,Emolumnet_in_Pecentage,Happynesslevelinjob,Hourlyrate,MonthlyIncome,MonthlyRate,No.ofWorkshopsAttended,NumberofCompaniesChanged,OfficeAmbienceRating,PerformanceRating,RelationshipSatisfaction,SelfMotivationRating,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,istrain
0,2.419385,1.242938,-0.818585,2.643152,0.130863,1.488770,-1.743364,0.803600,-0.734341,-0.566653,0.075698,0.398316,0.104318,2.275594,-1.549349,1.844484,-1.184262,-1.173195,-0.630618,0.499062
1,-0.991983,-1.581299,0.737432,-0.847162,-0.941715,-0.962754,0.294028,-0.941672,-0.383506,-0.151450,0.075698,-1.277715,1.074124,-0.439446,1.386061,-0.960282,0.350516,0.383124,-0.630618,0.499062
2,-1.105696,-1.701890,1.904444,-0.847162,0.130863,-0.349873,0.294028,-0.887132,-0.882230,-0.110969,0.962320,0.817323,0.104318,-0.439446,-0.570879,-0.960282,0.350516,-0.550667,-0.630618,0.499062
3,-0.650846,-1.144760,-0.559249,1.479714,-0.941715,-0.962754,-0.724668,0.749061,-0.589676,0.210745,1.848942,-1.277715,-1.835292,-0.439446,1.386061,1.844484,-1.184262,-0.550667,-0.630618,0.499062
4,0.031427,-1.055523,-0.948253,-0.847162,0.130863,-1.269195,1.312723,-1.159831,-0.440865,-1.430972,0.075698,0.817323,1.074124,-0.439446,0.407591,0.442101,0.350516,-0.550667,-0.275260,0.499062

In [94]:
cat_data=data[cat_cols]
cat_data.shape

(50341, 6)

In [95]:
df_scaled.shape

(50341, 20)

In [66]:
data=pd.get_dummies(data)
data.shape

(50341, 46)

In [67]:
data.head(5)

,DistancetoHome,istrain,OfficeAmbienceRating,MonthlyRate,YearsSinceLastPromotion,SelfMotivationRating,Hourlyrate,RelationshipSatisfaction,Education,No.ofWorkshopsAttended,...,JobRole_Sales Representative,Specialization_Human Resources,Specialization_Life Sciences,Specialization_Marketing,Specialization_Medical,Specialization_Other,Specialization_Technical Degree,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,3,1,3,9964,0,4,81,1,3,3,...,0,0,0,0,1,0,0,0,1,0
1,15,1,4,12682,0,2,49,4,2,3,...,0,0,1,0,0,0,0,0,0,1
2,24,1,3,12947,0,2,50,2,3,4,...,0,0,1,0,0,0,0,0,0,1
3,5,1,1,15053,0,4,80,4,2,5,...,0,0,1,0,0,0,0,1,0,0
4,2,1,4,4306,1,3,45,3,3,3,...,0,0,1,0,0,0,0,0,0,1

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV # Search over specified parameter values for an estimator.
from sklearn.model_selection import RandomizedSearchCV # Search over specified parameter values for an estimator.
from sklearn.model_selection import ShuffleSplit # Random permutation cross-validator
from sklearn.metrics import make_scorer,recall_score,accuracy_score
from time import time

In [48]:
#data preparation
df_train = data[data['istrain']==1]
df_test = data[data['istrain']==0]

In [49]:
X_train, X_test, y_train, y_test =train_test_split(df_train,target,test_size=0.3)

In [25]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(28212, 46)
(28212,)
(12091, 46)
(12091,)

In [27]:
#Logistic regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [28]:
l_predict=model.predict(X_test)
accuracy_score(y_test,l_predict)

0.64254404102224794

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(penalty='l2',C=0.01)
model.fit(X_train,y_train)

In [31]:
l_predict=model.predict(X_test)
accuracy_score(y_test,l_predict)

0.64386733934331319

In [19]:
#Model Building
from sklearn.svm import SVC

In [ ]:
#SVM Classifier
scoring={'Accuracy':accuracy_score, 'Recall':recall_score}
Cs=np.arange(0.001,10,0.001)
gamma=np.arange(0.01,1,0.01)
ks=['linear']
param_grid={'C':Cs,'gamma':gamma, 'kernel':ks}
clf_linear=RandomizedSearchCV(SVC(class_weight='balanced'),param_grid,n_jobs=-1,n_iter=10,refit="Recall",verbose=1)
clf_linear.fit(X_train,y_train)
svm_opt=clf.linear.best_estimator_

Fitting 3 folds for each of 10 candidates, totalling 30 fits

In [174]:
#RandomForest Classifer
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(max_depth=16, min_samples_leaf= 20, n_estimators= 100)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=16, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=20, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [175]:
clf_predict=clf.predict(X_test)
print('accuracy',accuracy_score(y_test,clf_predict))

accuracy 0.756016872054

In [176]:
y_pred_final = clf.predict(df_test)

In [ ]:
#optimising hyperparameters
start=time()
rf_classifier=RandomForestClassifier(random_state=42)
cv_set=ShuffleSplit(random_state=4)
parameters={'n_estimators':[100,120,140],'min_samples_leaf':[10,20,30],'max_depth':[10,15,20]}
scorer={'Accuracy':accuracy_score, 'Recall':recall_score}
scorer=make_scorer(accuracy_score)
grid_obj=RandomizedSearchCV(rf_classifier,parameters,n_iter=10,cv=cv_set,scoring=scorer)
grid_obj.fit(X_train,y_train)
rf_opt=grid_obj.best_estimator_
end=time()
time=(end-start)/60
print('Rf time',time)

In [143]:
grid_obj.best_params_

{'max_depth': 20, 'min_samples_leaf': 10, 'n_estimators': 100}

In [148]:
rf_predict=rf_opt.predict(X_test)
print('accuracy',accuracy_score(y_test,rf_predict))

accuracy 0.758415350261

In [149]:
importances = rf_opt.feature_importances_
X_train.columns.values[(np.argsort(importances)[::-1])[:5]]

array(['MonthlyIncome', 'YearsInCurrentRole', 'Age', 'MonthlyRate',
       'DialyRate'], dtype=object)

In [150]:
rf_opt_preds = rf_opt.predict(X_test)

In [151]:
y_pred_final = rf_opt.predict(df_test)

In [152]:
data1=pd.read_csv(r'C:\Users\sahithi\Desktop\Mith_Insofe\dataset.csv')
data1.drop(['EmployeeID','EmployeeCount','Over18','datacollected','StandardHours','Joblevel','FirstJobDate','DateOfjoiningintheCurrentCompany','ExtraTime'],axis=1,inplace=True)
test_data = data1[data1['istrain']==0]
test_data.shape

C:\Users\sahithi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(10038, 27)

In [153]:
test_data.columns

Index(['RowID', 'DistancetoHome', 'istrain', 'FrequencyofTravel', 'Gender',
       'OfficeAmbienceRating', 'MonthlyRate', 'YearsSinceLastPromotion',
       'SelfMotivationRating', 'Division', 'Hourlyrate', 'JobRole',
       'RelationshipSatisfaction', 'Education', 'No.ofWorkshopsAttended',
       'Age', 'YearsInCurrentRole', 'NumberofCompaniesChanged',
       'WorkLifeBalance', 'Emolumnet_in_Pecentage', 'DialyRate',
       'Happynesslevelinjob', 'ESOps', 'MonthlyIncome', 'Specialization',
       'PerformanceRating', 'MaritalStatus'],
      dtype='object')

In [177]:
# Final submission
my_submission = pd.DataFrame({'RowId': test_data.RowID, 'ExtraTime': y_pred_final})
my_submission.to_csv('PRED3.csv', index=False)

In [179]:
#XGBoost
import xgboost as xgb
xgb_regressor = xgb.XGBClassifier()

In [180]:
xgb_opt = xgb.XGBClassifier(
    learning_rate = 0.05,
    max_depth = 9,
    min_child_weight = 1.5,
    n_estimators = 1200,                                                                  
    seed = 42,
    silent = 1)

In [181]:
xgb_opt.fit(X_train, y_train)
xgb_opt_predict = xgb_opt.predict(X_test)

In [69]:
print('accuracy',xgb_opt.score(X_test,y_test))

accuracy 0.753204863121

In [ ]:
print('accuracy',accuracy_score(y_test,xgb_opt.predict(X_test))

In [ ]:
y_pred_final = rf_opt.predict(df_test)

In [ ]:
# Final submission
my_submission = pd.DataFrame({'RowId': test_data.RowID, 'ExtraTime': y_pred_final})
my_submission.to_csv('PRED3.csv', index=False)

In [ ]:
#start = time() # Get start time
cv_sets_xgb = ShuffleSplit(random_state = 10) # shuffling our data for cross-validation
parameters_xgb = {'n_estimators':[7000,7500,8000], 
              'learning_rate':[0.05,0.060,0.070], 
              'max_depth':[7,8,9],
              'min_child_weight':[1.5]}
scorer_xgb = make_scorer(r2_score)
grid_obj_xgb = RandomizedSearchCV(xgb_regressor, 
                                  parameters_xgb,
                                  scoring = scorer_xgb, 
                                  cv = cv_sets_xgb,
                                  random_state= 99)
grid_fit_xgb = grid_obj_xgb.fit(X_train, y_train)
xgb_opt = grid_fit_xgb.best_estimator_

In [ ]:
xgb4 = XGBClassifier(
 learning_rate =0.01,
 n_estimators=5000,
 max_depth=4,
 min_child_weight=6,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 reg_alpha=0.005,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

In [ ]:
xgb_opt.best_params_